---
const siteKey = import.meta.env.PUBLIC_TURNSTILE_SITE_KEY;
---

{
  siteKey && (
    <div class="turnstile-field" data-turnstile-field>
      <div class="cf-turnstile" data-sitekey={siteKey} data-theme="dark" data-size="flexible"></div>
    </div>
  )
}
